---
layout: default
---

<section class="post-list">
  <div class="container">
    <h2 class="category-title">最新文章</h2>
    {% for post in site.posts %}
      {% if forloop.index > 10  %}
        {% break %}
      {% endif %}

      <article class="post-item">
        <div class="article-title">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
            {{ post.title }}
          </a>
        </div>
        <span class="post-meta date-label">{{ post.date | date: "%Y年%m月%d日" }}</span>
      </article>
    {% endfor %}

    <div class="post-more">
      <a class="link" href="{{ '/archives' | prepend: site.baseurl | prepend: site.url }}">更多文章……</a>
    </div>
  </div>
</section>
