@media (max-width: 600px) {
  .logo {
    float: none;
    text-align: center;
  }

  .navbar {
    float: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.share-logo {
  display: none;
}

.post-item {
  display: flex;

  .article-title {
    flex: 1;
  }

  .date-label {
    width: 10em;
    text-align: right;
  }
}

.post-more {
  margin: 1.4em 0 1em;
}

.archives-nav {
  margin-bottom: 2em;

  &bar {
    margin: 0;
    list-style: none;

    li {
      display: inline-block;


      &:not(:last-child):after {
        content: '/';
        color: $light-gray-color;
      }

      a.active {
        font-size: 1.125em;
        color: $primary-color;
      }
    }
  }
}

.post-info {
  margin-top: 1.4em;
  padding: 1em;
  color: $medium-gray-color;
  background: lighten($light-gray-color, 15%);

  ul {
    margin-bottom: 0;
  }

  a {
    color: $medium-gray-color;
  }
}

.post-pv {
  margin: 1.2em 0 1.4em;
  color: $medium-gray-color;
}

.post-nav {
  margin: 0;
  list-style: none;
}

.page-not-match {
  display: flex;
  flex-direction: column;
  align-items: center;
}
