<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title }}</title>
</head>

<body>
  <div class="container">
    <header>
      <h1>Nicolas's Blog</h1>
    </header>
    <div class="content">
      {{ content }}
    </div>
    <footer>
      <a href="https://github.com/nicolaszhao">github.com/nicolaszhao</a>
    </footer>
  </div>
</body>

</html>
